@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    font-family: Aptos;
    
}
.bg-vampireBlack button{
    font-family: Aptos;
}


#slider{
    background-image: url('../img/bg-img1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.70);
}

#nav a {
    outline: none;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.25s;
}
button{
    cursor: pointer;
}

a {
   
    cursor: pointer;
}

#nav,
a {
    
    transition: all 0.25s;
    
}

#menu a {
    padding: 10px;
}


#nav2 a {
    padding: 6px;
}

#t-1 h1{
    font-family: proxima nova;
    font-weight: bolder;
}

button {
    transition: all 0.25s;
    cursor: pointer;
}

p {
    font-family: congenial;
}

input, #first-name, #last-name{
    background-color: transparent;
    padding-left: 1em;
}
textarea, input[type="radio"], input[type="checkbox"]{
    background-color: transparent;
}

select{
    width: 250px;
    background-color: transparent;
    padding-left: 1em;
}

option{
    color: black;
}

/* .hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 4px;
    border-radius: 5px;
    transform: rotate(0);
    transition: all 0.5s;
}

.hamburger-middle {
    transform: translateY(7px);
}

.hamburger-bottom {
    transform: translateY(14px);
}

.open {
    transform: rotate(90deg);
    transform: translateY(0px);
}

.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
    display: none;
}

.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translate(-6px);
} */

.show {
    display:block;
}
.active {
    color: gold;
}
#m-menu {
    float: right;
}

.sticky {
    position: fixed;
    top: -10;
    width: 100%;
    background-color: #080808;
    margin-top: -40px;
}
.sticky+.content {
    padding-top: 102px;
}